# fly.toml app configuration file generated for abdullah-junior-api on 2026-01-24T22:51:56+05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'abdullah-junior-api'
primary_region = 'iad'

[build]
  dockerfile = 'Dockerfile'

[env]
  FTE_ROLE = 'cloud'
  LOG_LEVEL = 'INFO'
  PYTHONUNBUFFERED = '1'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 250
    soft_limit = 200

[checks]
  [checks.health]
    port = 8000
    type = 'http'
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/api/health'

[[vm]]
  memory = '512mb'
  cpus = 1
  memory_mb = 512
